h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.img {
    display: block;
}

.list,
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 375px;
    /* max-width: 428px; */
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    
}
.yaht-section {
    
   
    
}

.fade {
    background: var(--blue-2, #1F212D);
    background-repeat: no-repeat;
    border-radius: 24px;
}

.yaht-description-facts {
    padding-top: 24px;
    padding-bottom: 24px;
}
.yaht {
width: 100%;
height: 100%;
object-fit: cover;
object-position: center;
margin-top: 18px;
border-radius: 24px;
border: none;
background: #1F212D;
}

.title-luxury {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 24px;
    margin-right: 24px;
    margin-left: 24px;
}

/* .arrow-btn {
    background-color: red;
} */

.yaht-subscribe {
    display: flex;
    column-gap: 32px;
    margin-left: 24px;
}

.categories-item {
    color: var(--white, #F6F5EF);
        font-family: DM Sans;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 118%;
        /* 16.52px */
        letter-spacing: 0.42px;
        text-transform: uppercase;
}
.categories-item:not(:last-child) {
    margin-bottom: 6px; }


.description-item {
    color: var(--white, #F6F5EF);
        font-family: DM Sans;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 118%;
        /* 16.52px */
        letter-spacing: 0.42px;
}    

.description-item:not(:last-child) {
    margin-bottom: 6px;
}
.yaht-title {
    color: var(--white, #F6F5EF);
        font-family: DM Sans;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
        /* 19.2px */
        letter-spacing: -0.72px;
        text-transform: uppercase;
       
}

.yaht-text {
    color: var(--white, #F6F5EF);
        font-family: DM Sans;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 118%;
        /* 14.16px */
        letter-spacing: 0.36px;
        text-transform: uppercase;
}

.slick-prev:before,
.slick-next:before {
  
    color: red;
   
}

.slick-next {
    /* right: 25px; */
}

